body {
  background-image: url("http://drive.google.com/uc?export=view&id=1qgpmP5UhDon1ALOzTohGI7dXFRtRBRFC");
  font-family: Didot, serif;
  background-size: 100%;
  text-align: right;
}
.menu ul{
  display:flex;
  justify-content: left;
}
.menu li{
  list-style:none; 
} 
a{
  text-decoration: none;
  color:brown;
}
a:hover{
  text-decoration: underline;
}
h2{
  color:#0A3709;
}
